.popupform {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  background: $c-background-modal;
  @include flex();
  width: 100vw;
  height: 100vh;

  display: none;
  &.visible {
    display: flex;
  }

  .content-popup {
    padding: 50px 40px;
    background: $c-background-secondary;
    border: $c-border-modal;
    border-radius: $global-component-raduis;
    min-width: 50vw;
    min-height: 50vh;
    box-shadow: $box-shadow-modal;

    h2 {
      position: relative;
      margin-bottom: 30px;
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 20%;
        height: 2px;
        background: $c-border;
      }
    }

    form {
      width: 100%;
      margin-top: 20px;
      select {
        width: 100%;
      }
      input[type=submit] {
        margin-top: 10px;
      }
    }

  }

}