section.on-primary-background {
  background: $c-background-secondary;
  border-radius: $global-component-raduis;
  height: auto;
}

section.fit-content {
  width: fit-content;
}

section.wdth-100 {
  width: 100%;
}