html {
  @include lexend( 15px , 400 );
}

h1.title {
  font-size: 20px;
  font-weight: 700;
}
.subtitle {
  font-size: 14px;
  font-weight: 500;
}

.lighttext {
  font-weight: 300;
}

.error-text {
  color: $c-notice-error-border;
}

.success-text {
  color: $c-notice-success-border;
}

.warning-text {
  color: $c-notice-warning-border;
}