@import 'sources/base-default-logged-layout';
@import "sources/core_ui/text";
@import "sources/core_ui/section";
@import "sources/core_ui/modal";

.title-container {
  form,.buttonSubmit-container {
    margin-top: 10px;

  }

}

.container-link-usage {
  @include flex(flex-start);
  margin-top: 80px;
  .link-section {
    margin: 10px 20px;
    .title-container {
      @include flex(flex-start);
      h2 {
        margin-right: 15px;
      }
    }
    .list-link {
      margin-top: 20px;
      li {
        @include flex(space-between);
        margin: 10px 0;
        border-radius: $global-component-raduis;
        padding: 16px 15px;
      }
    }
  }
}